<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>事件处理</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body style="margin: 20px auto;">
<div class="container">
    <div id="app">
        <button type="button" class="btn btn-success" @click="getUser">获取数据</button>
        <button type="button" class="btn btn-success" @click="postUser">发送数据</button>
        <button type="button" class="btn btn-success" @click="jsonpUser">请求数据</button>
        <input type="text" v-model="query">
        <h3>{{msg}}</h3>
        <ul class="list-group">
            <li :style="{cursor:'pointer'}" :class="{active:index===key}" @mouseenter="enter" class="list-group-item" v-for="(data,key) in datas">{{data}}</li>
        </ul>
    </div>
</div>
<script src="lib/vue/dist/vue.js"></script>
<script src="lib/vue-resource/dist/vue-resource.js"></script>
<script>
    /**
     *
     */
    var vm = new Vue({
        el: '#app',
        data: {
            msg: '',
            query: '',
            datas: [],
            index: -1
        },
        methods: {
            getUser() {
                this.$http.get('/getUser').then(function (res) {
                    this.msg = res.body.msg;
                });
            },
            postUser() {
                this.$http.post('/postUser', { msg: '发送数据成功' }).then(function (res) {
                    console.log(res.body);
                    this.msg = res.body.msg;
                });
            },
            jsonpUser() {
                this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?',
                    {
                        params: {
                            wd: this.query
                        },
                        jsonp: 'cb'
                    }).then(function (res) {
                    this.datas = res.body.s;
                });
            },
            enter(e) {
                var text = e.target.innerText;
                this.datas.forEach((item, index)=> {
                    if (item === text) {
                        this.index = index;
                    }
                });
            }
        }
    });
</script>
</body>
</html>